### Recommendation

**A. Content Based** : Recommend Product or Content based on **Similar Attributes**.
- I Saw a Comedy Movie Hera Pheri and Rated 5 Star
- I Saw a Comedy Movie Dhamaal and Rated 5 Star
- YouTube Started Recommending me more Comedy Movies ( Content )  

**Advantage** : Works even when Product or Content has no Rating but Attribute is Important for every Product or Content.

**B. Collaborative Filtering** : Recommend Product and Content based on Past User **Ratings** not based on Attributes.
- I Saw Avengers and Rated 5 Star | My Friend Akash Saw Avengers and Rated 4 Star
- I Saw Underground and Rated 4 Star | Akash Saw Underground and Rated 5 Star
- I Saw Captain America and Rated 5 Star | Hotstar Recommended Captain America to Akash.

**Advantage** : No need of Attributes, but User Reviews are very Important.

**Real Life Examples**

1. Social Media 
- Facebook : Posts and Friends.
- Pinterest : Products, Posts and Pins.
- Instagram : Posts, Timeline and Friends.

2. Online Content : YouTube, Hotstar and Netflix ( Shows, Movies and Contents )

3. Music Service : YouTube Music, Spotify ( Playlist ) and Apple Music Songs.

4. Ecommerce : Amazon, Flipkart and Myntra Products.

5. Banking and Insurance : Best Policy, Loan Amount and Insurance.

Recommender System ( Takes User Past Experience )
- Predicts the **Rating** the User would give the Product.
- Recommend the Products which will be liked by the User.
- Rank Products by User Preference.
- Product Similarity ( If User Buy Mobile he will also Buy Case )
- Find Similar User Preferences. ( Peoples mostly Buy this also )

If the User is New, He / She cannot be Recommended unless any Rating is Submitted.
- Until then Products Suggested are Based on his Search Interests and Similar Products.

In [1]:
import numpy as np
import pandas as pd
import matrix_factorization_utilities

In [2]:
ratings = [5,2,1,2,3,4,5,3,2,1]
scale10 = [i*2 for i in ratings]
print(f'Rating on the Scale of 10 : {scale10}')

Rating on the Scale of 10 : [10, 4, 2, 4, 6, 8, 10, 6, 4, 2]

Numpy is Faster and Efficient than List for Vector and Matrix Operations.

In [3]:
ratings = np.array([5,2,1,2,3,4,5,3,2,1])
scale10 = ratings * 2
print(f'Rating on the Scale of 10 : {scale10}')

Rating on the Scale of 10 : [10  4  2  4  6  8 10  6  4  2]

In [4]:
ratings = pd.read_csv('../Data/Ratings.csv')
ratings.head()

   user_id  movie_id  rating
0        1        28       4
1        1        26       4
2        1         9       4
3        1         1       4
4        1        14       4

In [5]:
movies = pd.read_csv('../Data/Movies.csv')
movies.head()

   movie_id                  title                 genre
0         1          The Sheriff 1  crime drama, western
1         2   The Big City Judge 1           legal drama
2         3          The Sheriff 2  crime drama, western
3         4  Just a Regular Family               reality
4         5   The Big City Judge 2           legal drama

aggfunc = np.max : Replace Duplicates by Max Rating ( User may have Rated Same Movie Twice )

Creates a Sparse Matrix

In [6]:
rating = pd.pivot_table(ratings, index='user_id', columns='movie_id', aggfunc=np.max)
rating.head()

         rating                                           ...               \
movie_id     1    2    3    4    5   6   7   8    9   10  ...  25   26  27
user_id                                                   ...
1           4.0  NaN  NaN  NaN  NaN NaN NaN NaN  4.0 NaN  ... NaN  4.0 NaN
2           5.0  5.0  NaN  NaN  NaN NaN NaN NaN  NaN NaN  ... NaN  NaN NaN
3           4.0  4.0  5.0  NaN  NaN NaN NaN NaN  NaN NaN  ... NaN  NaN NaN
4           5.0  5.0  NaN  5.0  5.0 NaN NaN NaN  NaN NaN  ... NaN  NaN NaN
5           5.0  NaN  NaN  NaN  NaN NaN NaN NaN  5.0 NaN  ... NaN  NaN NaN


movie_id   28   29  30   31   32   33   34
user_id
1         4.0  NaN NaN  NaN  NaN  NaN  NaN
2         NaN  NaN NaN  3.0  NaN  NaN  4.0
3         NaN  NaN NaN  NaN  NaN  NaN  NaN
4         NaN  NaN NaN  NaN  NaN  NaN  NaN
5         NaN  3.0 NaN  3.0  2.0  5.0  5.0

[5 rows x 34 columns]

In [7]:
rating.to_csv('../Data/Rating_Matrix.csv', index=False, na_rep='')

### Building a Recommendation System

1. Create a Matrix of known User Reviews
2. Factor out a U Matrix and M Matrix from known Reviews.
3. Multiply the U and M Matrices we found to get Review Scores for every User and every Movie.

### Matrix Factorization

U x M = Movie Ratings

U : User Attributes

M : Movie Attributes

In [8]:
U, M = matrix_factorization_utilities.low_rank_matrix_factorization(rating.values, 
                                                          num_features = 15, 
                                                          regularization_amount = 0.1)

predicted_rating = np.matmul(U, M)

Warning: Maximum number of iterations has been exceeded.
         Current function value: 32.504368
         Iterations: 3000
         Function evaluations: 4491
         Gradient evaluations: 4491

In [9]:
predicted_rating = pd.DataFrame(data=predicted_rating, 
                                 index=rating.index, 
                                 columns=rating.columns)
predicted_rating.to_csv('../Data/Predicted_Rating.csv')

In [10]:
predicted_rating.head()

            rating                                                    \
movie_id        1         2         3         4         5         6
user_id
1         4.003216  3.920547  4.155716  3.527620  3.920374  4.142957
2         4.970684  4.967978  4.445416  3.903556  4.831519  4.706452
3         4.017185  3.985703  4.955731  4.088417  4.528633  4.271205
4         4.991048  4.987252  4.929135  4.961959  5.010576  4.961558
5         4.980618  4.240475  5.461400  4.373442  5.163319  4.554854

                                                  ...                      \
movie_id        7         8         9         10  ...        25        26
user_id                                           ...
1         2.655737  4.066545  4.010424  3.805422  ...  3.797095  3.984577
2         3.393987  4.698964  4.531863  4.837514  ...  4.314384  4.494209
3         2.818575  4.338047  4.491405  4.367840  ...  4.080784  4.317091
4         3.944718  5.076156  4.952066  5.017276  ...  4.062659  4.741913
5         3.151814  4.637487  4.982078  4.919475  ...  4.506108  4.722967

                                                                      \
movie_id        27        28        29        30        31        32
user_id
1         3.330513  3.990522  3.457377  3.107520  2.722725  3.355335
2         4.414732  4.164014  3.462601  4.389560  2.994320  4.346947
3         3.879793  4.474693  3.205995  3.237242  2.231629  2.590040
4         4.503193  4.906791  3.116714  3.413771  2.007584  4.223526
5         3.737277  5.074061  3.017248  3.610672  2.996292  2.031811


movie_id        33        34
user_id
1         3.040900  4.568881
2         4.013085  3.999419
3         3.445286  4.597615
4         4.171771  4.644265
5         4.980757  4.987328

[5 rows x 34 columns]

In [11]:
M = np.transpose(M)

Get Movie Name and Genre

In [12]:
movie_info = movies.loc[5]

In [13]:
print(f'We are Finding Movies Similar to this Movie')
print(f'Movie Title : {movie_info.title}')
print(f'Movie Genre : {movie_info.genre}')

We are Finding Movies Similar to this Movie
Movie Title : Attack on Earth 1
Movie Genre : sci-fi, action

Feature's for Movie 1 founded by Matrix Factorization

In [14]:
movie_feature = M[5 - 1]
print(f'Attributes of the Movie \n{movie_feature}')

Attributes of the Movie
[ 1.01243972 -0.84705814 -0.74916614  0.63523473 -0.98022829 -1.67040372
 -0.95887986  0.28211909 -0.30292783 -0.05162494 -0.10111138 -0.24361378
 -0.03148131 -0.8380774   1.07876908]

Main Logic to Find Similar Movie

Subtract Current Movie Feature from every other Movie

In [15]:
difference = M - movie_feature

Take Absolute Value of Difference ( All Members to be Positive )

In [16]:
absolute_difference = np.abs(difference)

Each Movie has 15 Features

In [17]:
total_difference = np.sum(absolute_difference, axis = 1)

Create a New Column in the Movie List with the Difference Score for each Movie.

In [18]:
movies['difference_score'] = total_difference

Sort the Movie List by Score Difference

In [19]:
sorted_movie = movies.sort_values('difference_score')

In [20]:
print(f'The Five Most Similar Movies are :')
print(sorted_movie[['title', 'difference_score']].head())

The Five Most Similar Movies are :
                      title  difference_score
4      The Big City Judge 2          0.000000
9   Surrounded by Zombies 1          2.772919
7  Sci-Fi Murder Detectives          3.492530
8               Biker Gangs          3.515214
2             The Sheriff 2          4.035645